# =========================
# Core ML
# =========================
numpy
pandas
polars
scikit-learn
xgboost

# =========================
# Data Ingestion
# =========================
yfinance
requests
kafka-python
websocket-client

# =========================
# Workflow
# =========================
prefect
dvc

# =========================
# Experiment Tracking
# =========================
mlflow
joblib

# =========================
# Data Validation
# =========================
pandera
great-expectations

# =========================
# API
# =========================
fastapi
uvicorn
python-dotenv

# =========================
# Monitoring
# =========================
prometheus-client

# =========================
# Database
# =========================
sqlalchemy

# =========================
# Visualization
# =========================
matplotlib
seaborn
plotly

# =========================
# Testing
# =========================
pytest
black
flake8

# =========================
# Notebooks
# =========================
jupyter
jupyterlab